body {
    background-color: #FEE2B9;
}

.btn-primary {
    background-color: #004A8F;
    border: none;
}

.bg-primary {
    background-color: #004A8F !important;
}

.btn-primary:hover {
    background-color: #003B6E;
}

.btn-secondary {
    background-color: #D6A400;
    border: none;
}

.btn-secondary:hover {
    background-color: #B28700;
}

.rounded-card {
    border-radius: .75rem;
}

.section-padding {
    padding: 4rem 0;
}

.logo {
    width: 200px;
}

.sombreado {
    box-shadow: 0px 4px 4px 0px #00000040;
}

.habitacionesDisponibles {
    display: flex;
    justify-content: center;
    align-items: center;
}

#galeria img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
